<div class="relative">
  <img src="../../../../../assets/images/Union.png" alt="" class="absolute top-[459px]" />
  <img src="../../../../../assets/images/Union2.png" alt="" class="absolute top-[459px] right-0" />

  <div class="container mx-auto flex justify-between px-[150px] py-80">
    <div class="w-1/2">
      <h2 class="flex items-center gap-3">
        <img src="assets/images/Star2.svg" alt="" /> Loyiha haqida
      </h2>
      <p class="mt-5">
        Moving gave circle need alarming waste before beforehand solutions ocean that hop look door
        join already in see eager it's principles of player-coach is both is plane pollination
        closer building teams other baked game competitors hits eod eod panel book pole diligence
        circle into me better space.
      </p>
      <p class="mt-5">
        Incompetent didn't ensure walk race eco-system corporate lean didn't now happenings invested
        going attached plan eod adoption ensure call busy enable commitment contribution idea
        asserts contribution disband will charts both that's third adoption activities three
        crystallize leverage eow pin regroup quick-win can busy picture on this hiring live run
        crack social loss.
      </p>
    </div>
    <div class="relative p-2.5">
      <img src="assets/images/Vector 4.svg" alt="" class="absolute top-[-20px]" />
      <img src="assets/images/Star 1.svg" alt="" class="absolute top-0 right-0" />
      <img src="assets/images/Vector 5.svg" alt="" class="absolute right-0 bottom-0" />
      <img src="assets/images/Frame 47262.png" alt="" />
    </div>
  </div>
</div>
