<div class="flex items-center justify-center flex-col">
  <h2 class="flex items-center gap-4"><img src="/assets/images/note.svg" alt="" /> Xizmatlar</h2>
  <div class="flex items-center justify-between">
    <section class="py-20">
      <div class="flex justify-center gap-8">
        <app-service-card
          bgImage="assets/images/Vector.png"
          iconLink="/assets/images/Buildings 3.svg"
          icon="icon-chevron-thin-right"
          title="Maktabdan-maktabga o‘tkazish"
          description="Bu yerda xizmat to‘g‘risida izoh joylashtirsak foydalanuvchiga tushunarliroq bo‘ladi"
        />

        <app-service-card
          icon="icon-transfer"
          title="Xorijdagi maktabdan o‘quvchilarni ko‘chirish"
          description="Bu yerda xizmat to‘g‘risida izoh joylashtirsak foydalanuvchiga tushunarliroq bo‘ladi"
        />

        <app-service-card
          icon="icon-student"
          title="1 sinfga qabul"
          description="Bu yerda xizmat to‘g‘risida izoh joylashtirsak foydalanuvchiga tushunarliroq bo‘ladi"
        />
      </div>
    </section>
  </div>
</div>
