@import 'tailwindcss';
@import url('assets/icons/iconmoon/iconmoon.css');
@theme {
  --font-base: 'Quicksand', 'sans-serif';
  --font-heading: 'Outfit';
  --space-lg: '150px';
  --color-primary: #f5f1fd;
  --color-btn-primary: #5c42f2;
  --color-btn-secondary: #ddd8fb;
  --color-card-first1: #c7c1eb;
  --color-card-first2: #ddd8fb;
  --color-card-second1: #edbcad;
  --color-card-second2: #f5d0c5;
  --color-card-third1: #fed670;
  --color-card-third2: #fbe7b4;
}

@layer base {
  h1 {
    font-family: var(--font-base);
    font-weight: 700;
    font-style: Bold;
    font-size: 50px;
    line-height: 130%;
    letter-spacing: -1%;
    text-align: center;
  }

  h2 {
    font-family: var(--font-base);
    font-weight: 700;
    font-style: Bold;
    font-size: 36px;
    line-height: 130%;
    letter-spacing: -1%;
  }

  h3 {
    font-family: var(--font-base);
    font-weight: 700;
    font-style: Bold;
    font-size: 26px;
    line-height: 120%;
    letter-spacing: 0%;
  }

  p {
    font-family: var(--font-base);
  }
}

@layer utilities {
}

.p-breadcrumb {
  background-color: var(--color-primary) !important;
}
