@import 'tailwindcss';
@import url('assets/icons/iconmoon/iconmoon.css');
@theme {
  --font-base: 'Quicksand', 'sans-serif';
  --font-heading: 'Outfit';
  --space-lg: '150px';
  --color-primary: #F5F1FD;
  --color-btn-primary: #5C42F2;
  --color-btn-secondary: #DDD8FB;
  --color-card-first1: #C7C1EB;
  --color-card-first2: #DDD8FB;
  --color-card-second1: #EDBCAD;
  --color-card-second2: #F5D0C5;
  --color-card-third1: #FED670;
  --color-card-third2: #FBE7B4;
}

@layer base {

  h1 {
    font-family: var(--font-base);
    font-weight: 700;
    font-style: Bold;
    font-size: 50px;
    line-height: 130%;
    letter-spacing: -1%;
    text-align: center;
  }

  h2 {
    font-family: var(--font-base);
    font-weight: 700;
    font-style: Bold;
    font-size: 36px;
    line-height: 130%;
    letter-spacing: -1%;

  }

  h3 {
    font-family: var(--font-base);
    font-weight: 700;
    font-style: Bold;
    font-size: 26px;
    line-height: 120%;
    letter-spacing: 0%;

  }

  p {
    font-family: var(--font-base);
  }
}


@layer utilities {

}
