<div
  class="relative max-w-[1920px] mx-auto h-[500px] mt-[200px]"
  [class]="bgColor() ? 'bg-primary' : 'bg-white'"
>
  <div
    class="container flex items-center justify-between mx-auto p-16 bg-gradient-to-r from-[#15969E] to-[#006A71] rounded-[16px] -z-40"
  >
    <div class="w-1/3">
      <h2 class="text-white">
        Mobil ilovamizni <br />
        yuklab oling
      </h2>
      <p class="text-white mt-3">
        Umumta’lim maktablariga onlayn <br />
        qabul qilish va boshqa maktabga o‘tkazish tizimi
      </p>
    </div>
    <div class="w-1/2 h-60 relative">
      <img src="assets/images/iPhone 15.png" alt="" class="absolute top-[-200px]" />
    </div>
  </div>
  <div class="w-full font-sans absolute z-30">
    <div class="py-8 flex flex-col items-center justify-center">
      <h3 class="text-xl font-semibold mb-2">QR kodni skaner qiling</h3>
      <p class="text-gray-500 mb-6">yoki ilovalar orqali yuklab oling</p>

      <div class="flex flex-wrap gap-4 justify-center">
        <a
          href="#"
          class="flex items-center bg-black text-white px-4 py-2 rounded-lg transition-all hover:bg-gray-800 w-[180px] border border-gray-700"
        >
          <i class="icon-apple text-3xl mr-3"></i>
          <div class="flex flex-col items-start leading-tight">
            <span class="text-[10px] font-light">Download on the</span>
            <span class="text-lg font-semibold -mt-1 font-sans">App Store</span>
          </div>
        </a>

        <a
          href="#"
          class="flex items-center bg-black text-white px-4 py-2 rounded-lg transition-all hover:bg-gray-800 w-[180px] border border-gray-700"
        >
          <i class="icon-googleplay text-2xl mr-3 text-white"></i>
          <div class="flex flex-col items-start leading-tight">
            <span class="text-[10px] font-light uppercase">Get it on</span>
            <span class="text-lg font-semibold -mt-1 font-sans text-white">Google Play</span>
          </div>
        </a>
      </div>
    </div>

    <div class="py-12 px-[150px]">
      <div class="grid grid-cols-1 md:grid-cols-4 gap-8">
        <div class="flex flex-col gap-6">
          <img src="assets/images/logoSchool.svg" alt="" class="h-12" />
          <img src="assets/images/logo2.svg" alt="" class="h-12" />
        </div>

        <div class="flex flex-col gap-6">
          <div class="flex items-start gap-3">
            <i class="icon-phone text-[#5D5FEF] text-xl mt-1"></i>
            <div>
              <p class="text-xs text-gray-500 mb-1">Telefon raqam:</p>
              <p class="font-bold text-[#1E2661] text-lg">+998 71-203-07-04</p>
            </div>
          </div>
          <div class="flex items-start gap-3">
            <i class="icon-location text-[#5D5FEF] text-xl mt-1"></i>
            <div>
              <p class="text-xs text-gray-500 mb-1">Manzil:</p>
              <p class="font-medium text-[#1E2661] text-sm">
                100187, O'zbekiston Respublikasi, Toshkent, Shayxontohur tumani, Navoiy ko'chasi, 2a
              </p>
            </div>
          </div>
        </div>
        <div class="flex flex-col gap-6">
          <div class="flex items-start gap-3">
            <i class="icon-mail text-[#5D5FEF] text-xl mt-1"></i>
            <div>
              <p class="text-xs text-gray-500 mb-1">Elektron manzil:</p>
              <p class="font-bold text-[#1E2661] text-lg">info@maktab.uz</p>
            </div>
          </div>
          <div class="flex items-start gap-3">
            <i class="icon-telegram text-[#5D5FEF] text-xl mt-1"></i>
            <div>
              <p class="text-xs text-gray-500 mb-1">Telegram:</p>
              <p class="font-bold text-[#1E2661] text-lg">@mymaktab_uz</p>
            </div>
          </div>
        </div>

        <div class="flex justify-end">
          <div class="rounded-2xl overflow-hidden w-full max-w-[280px] h-[140px]">
            <img src="assets/images/map.png" alt="Xarita" class="w-full h-full object-cover" />
          </div>
        </div>
      </div>
    </div>

    <div class="bg-[#D8D8F7] py-4 px-[150px]">
      <div class="flex justify-between items-center">
        <p class="text-gray-600 text-sm">© 2025. Barcha huquqlar himoyalangan</p>

        <div class="bg-indigo-900 text-white text-[10px] p-1 rounded flex items-center gap-2">
          <span class="font-bold px-1 border-r border-indigo-700">TAS-IX</span>
          <div class="flex flex-col leading-none">
            <span>276848</span>
            <span>24785</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img
    src="assets/images/shield 1.png"
    alt="sdf"
    class="absolute z-20 top-[80px] transform -translate-x-1/2 left-1/2"
  />
  <img src="assets/images/Vector 3.png" alt="" class="absolute w-full h-[680px] top-[140px]" />
</div>
